<!DOCTYPE html>
<html>
            <link rel="stylesheet" href="/static/css/styles_footer.css"/>
            <body>
            <p></p>
            <img src="/static/1.jpg" alt="Any image" width="120" height="160"/>
            <img src="/static/fig1_modified.png" alt="Rainbow image" width="120" height="160"/>

            <p>Choose png/jpg and press submit</p>

                <form action="/transform" method="post" enctype="multipart/form-data">
                    <input type="file" name="data_file" />
                    <input type="submit" />
                </form>
            <p>w8 ~30 seconds to embrace the rainbow :)</p>
            </body>
        </html>